.actions button {
    height: 50px;
    padding: 5px 20px;
    background-color: #d3a588;
    color: #ece2d0;
    border: 1px solid #d3a588;
    border-radius: 12px;
    text-transform: uppercase;
}

.actions button {
    margin-left: 8px;
    margin-right: 8px;
}

.actions button:first-child {
    margin-left: 0;
}

.actions button:last-child {
    margin-right: 0;
}